* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-fao-dan.dan-fao.lrx -text
/apertium-fao-dan.dan-fao.t1x -text
/apertium-fao-dan.dan-fao.t2x -text
/apertium-fao-dan.dan-fao.t3x -text
/apertium-fao-dan.fao-dan.dix -text
/apertium-fao-dan.fao-dan.lrx -text
/apertium-fao-dan.fao-dan.t1x -text
/apertium-fao-dan.fao-dan.t2x -text
/apertium-fao-dan.fao-dan.t3x -text
/autogen.sh -text
/configure.ac -text
dev/bidix/dkfo_010.xml -text
dev/bidix/dkfo_conv.py -text
dev/bidix/fao-dan -text
dev/bidix/fao-nor-entries -text
dev/bidix/intersection -text
dev/bidix/make_fao-dan_entries.py -text
dev/bidix/make_fao-nor_entries.py -text
dev/bidix/proc-dkfo.py -text
dev/bidix/r.txt -text
dev/swadesh_list.txt -text
dev/testvoc/bidix-unknowns.sh -text
dev/testvoc/generation.sh -text
dev/wiki.n.xml -text
dev/wiki.np-top.xml -text
/modes.xml -text
