/.test-mt
/.test-ref
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/autom4te.cache
/config.log
/config.status
/configure
/dan-fao.autobil.bin
/dan-fao.autogen.bin
/dan-fao.autolex.bin
/dan-fao.automorf.bin
/dan-fao.prob
/dan-fao.rlx.bin
/dan-fao.t1x.bin
/dan-fao.t2x.bin
/dan-fao.t3x.bin
/fao-dan.autobil.bin
/fao-dan.autogen.bin
/fao-dan.autolex.bin
/fao-dan.automorf.bin
/fao-dan.prob
/fao-dan.rlx.bin
/fao-dan.t1x.bin
/fao-dan.t2x.bin
/fao-dan.t3x.bin
/install-sh
/missing
/modes
